.owl-carousel {
  @include clearfix;
  @include size(100%);
  overflow: hidden;

  li {
    @include clearfix;
    display: inline-block;
    float: left;
    overflow: hidden;

    img {
      float: left;
      max-width: 100%;
    }
  }
}

.owl-theme .owl-controls {
  margin-top: 0 !important;
}

.owl-prev,
.owl-next {
  @include size(40px);
  @include transition;
  @include position(absolute, 50% null null 40px);
  margin-top: -20px;
  text-indent: -9999px;
}

.owl-next {
  left: auto;
  right: 40px;
}
