.splash-logo {
  @include retina-image('homepage/header-logo', 80px 80px, $asset-pipeline: true);
  @include size (80px 80px);
  @include box-sizing(content-box);
  background-position: center center;
  background-repeat: no-repeat;
  margin: $center;
}

.site-intro {
  @include size (em(450) auto);
  margin: $center;
  font-size: 32px;
  color: #fff;
  font-weight: 100;
  text-align: center;
  line-height: 45px;
  padding-top: 250px;

  @include media ($small-screen) {
    @include size (em(200) auto);
    padding: 100px 30px 0 30px;
  }
}

.our-site {
  font-size: 16px;
  font-family: Georgia, sans-serif;
  color: #999;
  text-align: center;
  font-style: italic;
  opacity: 0.5;
  padding: 60px 30px;
}

.header-section {
  position: relative;

  .logo {
    @include retina-image('homepage/header-logo', 80px 80px, $asset-pipeline: true);
    @include size (80px 80px);
    @include box-sizing(content-box);
    background-position: center center;
    background-repeat: no-repeat;
    margin: $center;
    padding: em(40) 0;

    @include media($medium-screen-up) {
      padding: em(120) 0;
    }
  }
}

.blurImg {
  @include position(relative, 0px 0 0 0px);
  width: 100%;
  z-index: -1;

  > div {
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.new {
  background-image: image-url('homepage/normal-bg.png');
}

.blur {
  background-image: image-url('homepage/blurred-bg.png');
  opacity: 0;

  @include media ($small-screen) {
    display: none;
  }
}

.intro {
  color: #fff;
  font-family: $open-sans;
  font-size: em(36);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.55em;

  @include media($medium-screen-up) {
    font-size: em(64);
  }

  @include media($large-screen-up) {
    font-size: em(85);
  }

  span {
    color: $header-red;

    &.first {
      margin-left: -7px;
      letter-spacing: -9px;

      @include media($large-screen-up) {
        margin-left: -17px;
        letter-spacing: -19px;
      }
    }

    &.second {
      margin-left: -7px;
      letter-spacing: -6px;

      @include media($large-screen-up) {
        margin-left: -17px;
        letter-spacing: -16px;
      }
    }
  }
}

.sub-intro {
  @include span-columns(3 of 4);
  @include shift(.5);
  border-top: 2px solid $header-red;
  color: #fff;
  font-family: $whitney;
  font-weight: 300;
  font-size: em(18);
  line-height: 1.75em;
  margin-top: $base-y / 2;
  margin-bottom: em(120, 18);
  padding-top: $base-y / 2;
  text-align: center;

  @include media($large-screen-up) {
    @include span-columns (7 of 12);
    @include shift(2.5);
    font-size: em(25);
    margin-top: $base-y * 2;
    margin-bottom: 0;
    padding-top: $base-y * 1;
  }
}

.scrolled {
  @include animation(blink 3.0s ease-in-out);
  @include animation-iteration-count(infinite);
  @include size (45px);
  margin: 0 auto;
  text-align: center;

  @include media($medium-screen-up) {
    @include position(absolute, null null em(60) 50%);
    margin-left: -22.5px;
  }
}
