.start-project {
  clear: both;
  padding: 30px 0;
  text-align: center;
  background: $header-red;

  button {
    @include transition (all 0.3s ease-in-out);
    border: 2px solid #fff;
    border-radius: 100px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 20px 45px;

    &:hover {
      background: #fff;
      color: $header-red;
    }
  }
}

.contact {
  @include position(absolute, 0px 0px 0px 0px);
  @include size(100%);
  @include transition(visibility 0.5s linear 0.5s, opacity 0.3s linear);
  background-color: #fff;
  opacity: 0;
  overflow: scroll;
  visibility: hidden;
  z-index: 999999999;


  .close {
    @include position(fixed, 30px 30px null null);
    @include size(em(40));
    display: block;

    &:hover {
      cursor: pointer;
    }
  }

  &.visible {
    @include position(fixed, 0px 0px 0px 0px);
    @include transition(visibility 0.5s linear 0.5s, opacity 0.3s linear);
    opacity: 1;
    transition-delay:0s;
    visibility:visible;
  }
}

.form-header {
  @extend .section-header;
  margin-bottom: 0;
  padding-top: em(80);

  h2 {
    color: #28282E;
    font-size: em(36);
    font-weight: 800;
    padding-bottom: $base-y * 2;
    text-align: center;

    @include media($medium-screen-up) {
      font-size: em(48);
    }

    @include media($large-screen-up) {
      font-size: em(64);
    }

    & span {
      background: $header-red;
      color: #fff;
    }
  }
}

.form-content {
  @extend .section-wrap;
  clear: both;
}

.service-select {
  @include fill-parent;
  background: #F4F5F6;
  border-radius: $base-border-radius;
  margin: $center;
  border: 1px solid #E3E4E6;
  margin-bottom: em(80);

  @include media($medium-screen-up) {
    @include span-columns(4 of 8);
    @include shift(2);
  }

  @include media($large-screen-up) {
    @include span-columns(6 of 12);
    @include shift(3);
  }

  ul {
    @include clearfix;

    li {
      @include span-columns(2 of 4);
      text-align: center;
      border-right: 1px solid #E3E4E6;
      padding: 15px;

      @include media($medium-screen-up) {
        @include span-columns(3 of 6);
      }

      &:last-of-type {
        margin: 0;
        border-right: none;
      }
    }
  }
}
