.our-work {
  @extend .section-wrap;
  background: white;

  ul {
    @include fill-parent;

    li {
      @include span-columns(2 of 4);
      @include omega(2n);
      color: #222;
      font-size: $base-font-size;
      font-weight: 500;
      margin-bottom: $base-y * 2;
      padding-top: em(95);
      text-align: center;
      text-transform: uppercase;

      @include media($medium-screen-up) {
        @include span-columns(2 of 8);
        @include omega-reset(2n);
        @include omega(4n);
      }

      @include media($large-screen-up) {
        margin-bottom: 0;
      }

      &.branding {
        background: image-url('homepage/icon_branding.svg') no-repeat top center;
        background-size: em(60) auto;

        border: 0;
      }

      &.design-ux {
        background: image-url('homepage/icon_design.svg') no-repeat top center;
        background-size: em(60) auto;
      }

      &.development {
        background: image-url('homepage/icon_development.svg') no-repeat top center;
        background-size: em(60) auto;
      }

      &.consulting {
        background: image-url('homepage/icon_consulting.svg') no-repeat top center;
        background-size: em(60) auto;
      }
    }
  }
}

.the-work {
  @include size(100%);
  background: white;

  ul {
    @include clearfix;
    @include fill-parent;
    overflow: hidden;

    li {
      margin-bottom: -2px;
      width: 100%;

      @include media($medium-screen-up) {
        display: inline-block;
        float: left;
        width: 50%;
      }

      @include media($large-screen-up) {
        width: 25%;
      }

      figure{
        position: relative;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        &:hover{

          p.description{
            opacity: 1;
          }

          figcaption,
          p.title,
          p.icon-links{
           @include transform(translate3d(0,0,0));
          }

          p.title{
            @include transition-delay(0.05s);
          }
        }

        img{
          position: relative;
          display: block;
          min-height: 100%;
          max-width: 100%;
        }

        figcaption{
          top: auto;
          position: absolute;
          bottom: 0;
          padding: 1em;
          height: 3.75em;
          width: 100%;
          background: #fff;
          color: #3c4a50;
          @include transition(transform 0.35s);
          @include transform(translate3d(0,100%,0));

          p.title{
            float: left;
            display: inline-block;
          }

          p.icon-links{
            float: right;
          }

          p.description{
            position: absolute;
            bottom: 6em;
            padding: 2em;
            color: #fff;
            text-transform: none;
            opacity: 0;
            -webkit-backface-visibility: hidden;
            @include transition(opacity 0.35s);
          }

          p.title,
          p.icon-links{
            @include transition(transform 0.35s);
            @include transform(translate3d(0,200%,0));
          }
        }
      }

      a {
        display: block;
        height: em(420);
        overflow: hidden;
        text-indent: -9999px;
      }

      &.tutorme a{
        background: image-url('tutor-cover.png') no-repeat;
        background-size: cover;
        background-position: center;
      }

      &.vm a{
        background: image-url('vm-cover.png') no-repeat;
        background-size: cover;
        background-position: center;
      }

      &.trackr a{
        background: image-url('trackr-cover.png') no-repeat;
        background-size: cover;
        background-position: center;
      }

      &.wineo a{
        background: image-url('wineo-cover.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
