.divider {
  @include size(45px 3px);
  margin: $center;
  background: $header-red;
  margin-bottom: em(60);
}

.our-work {
  @extend .section-wrap;
  background: $dark-color;

  ul {
    @include fill-parent;

    li {
      @include span-columns(2 of 4);
      @include omega(2n);
      color: #fff;
      font-size: $base-font-size;
      font-weight: 500;
      margin-bottom: $base-y * 2;
      padding-top: em(215);
      text-align: center;
      text-transform: uppercase;
      border-top: 1px solid $dark-border;
      border-bottom: 1px solid $dark-border;
      border-right: 1px solid $dark-border;
      margin: 0;
      height: em(350);

      &:last-of-type {
        border-right: 1px solid $dark-border;
      }

      @include media($medium-screen-up) {
        @include span-columns(2 of 8);
        @include omega-reset(2n);
        @include omega(4n);
        margin: 0;
      }

      @include media($large-screen-up) {
        margin-bottom: 0;
        margin: 0;
      }

      &.branding {
        background: image-url('homepage/icon_branding.svg') no-repeat center;
        background-size: em(60) auto;

        border-left: 1px solid $dark-border;
      }

      &.design-ux {
        background: image-url('homepage/icon_design.svg') no-repeat center;
        background-size: em(60) auto;
        margin: 0;
      }

      &.development {
        background: image-url('homepage/icon_development.svg') no-repeat center;
        background-size: em(60) auto;
      }

      &.consulting {
        background: image-url('homepage/icon_consulting.svg') no-repeat center;
        background-size: em(60) auto;
      }
    }
  }
}
