header {
  box-shadow: 0 2px 2px 0 #ccc;
  border-top: 5px solid $header-red;
  background: #fff;
  padding: 14px 0;
}

.header-section {
  @include clearfix;
  padding: 0 30px;

  .logo-area {
    @include span-columns (1);
    @include size (50 auto);
  }

  nav {
    float: right;
    margin-top: 15px;

    ul {
      li {
        display: inline;
        margin: 0 30px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        a {
          @include transition (all 0.3s ease-in-out);
          text-transform: uppercase;
          font-size: 13px;
          color: $nav-color;

          &:hover {
            color: #C4B0B5;
          }
        }
      }
    }
  }
}

.main-hero {
  background: $header-red;
  background: image-url('app-background.png') no-repeat right $header-red;
  min-height: 612px;

  .lab-intro {
    @include size (605 auto);
    line-height: 50px;
    font-size: 45px;
    color: #fff;
    padding: 100px 0 0 180px;
  }

  .hero-wrap {
    @include outer-container;
  }
}

.our-work {
  @include section-area;

  h1 {
    @include section-header;
  }

  p {
    @include paragraph;
  }

  .work-top {
    @include clearfix;

    ul {
      li {
        @include span-columns (4);
        background: black;
        opacity: 0.3;
        min-height: 210px;
      }
    }
  }

  .work-bottom {
    @extend .work-top;
    margin-top: 15px;
    margin-bottom: 120px;
  }
}

.client-area {
  background: #fafafa;
  border-top: 1px solid #f6f6f6;
  @include clearfix;

  &.top {
   border-bottom: 1px solid #efefef;
  }

  ul {
    li {
      @include span-columns (3);
      text-align: center;
      border-right: 1px solid #EFEFEF;
      padding: 30px 0;

      &:last-of-type {
        border-right: 0;
      }
    }
  }
}

.what-we-do {
  background: #B93F54;

  .inner-wrapper {
    @include section-area;

    h1 {
      @include section-header;
      padding-bottom: 30px;
      color: #fff;
    }

    p {
      @include paragraph;
      color: #D7B4C6;
      padding-bottom: 40px;
    }

    .toggle {
      @include size (138 auto);
      margin: $center;
      border-radius: 60px;
      background: #892E3E;
      padding: 7px;
      text-align: center;
      margin-bottom: 60px;

      ul {
        @include clearfix;

        li {
          display: block;
          float: left;
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            @include transition (all 0.3s ease-in-out);
            font-size: 15px;
            color: #fff;

            &:hover {
              opacity: 0.8;
            }

            &.active {
              border-radius: 60px;
              background: #fff;
              padding: 3px 10px;
              color: #892E3E;

              &:hover {
                opacity: 1.0;
              }
            }
          }
        }
      }
    }
  }
}

.process {
  background: #892E3E;

  .inner-wrapper {
    @include section-area;
    @include clearfix;

    .column {
      @include span-columns (4.0);
      text-align: center;

      &:first-of-type {
        @include shift (0);
      }

      p {
        @include paragraph;
        color: #D7B4C6;
        padding-bottom: 40px
      }

      h2 {
        font-size: 30px;
        color: #fff;
        font-weight: lighter;
        padding: 100px 0 50px 0;

        &.discover {
          background: image-url('docs.png') no-repeat top;
        }

        &.build {
          background: image-url('build.png') no-repeat top;
        }

        &.launch {
          background: image-url('rocket.png') no-repeat top;
        }
      }
    }
  }
}

.contact {

  .inner-wrapper {
    @include section-area;
    @include clearfix;
  }

  h1 {
    @include section-header;
  }

  p {
    @include paragraph;
    padding-bottom: 40px;
  }

  .service-select {
    @include size (40% auto);
    border-radius: 3px;
    float: none;
    background: #F4F5F6;
    margin: $center;
    border: 1px solid #E3E4E6;
    margin-bottom: 90px;

    ul {
      @include clearfix;

      li {
        @include span-columns (5.9);
        text-align: center;
        border-right: 1px solid #E3E4E6;
        padding: 15px;

        &:last-of-type {
          margin: 0;
          border-right: none;
        }
      }
    }
  }
}

.form-bottom {
  @include clearfix;
  @include span-columns (12);
  padding: 0 60px;
  float: none;
  margin: $center;


  .form-left {
    @include span-columns (5.5);
  }

  .form-right {
    @include span-columns (5.5);
    @include shift (1);
  }

  .styled-select select {
   background: transparent;
   @include span-columns (12);
   margin-bottom: 15px;
   float: none;
   border: 1px solid #D0D2DA;
   box-shadow: none;
   font-size: 14px;
   color: #939393;
   padding: 15px 0 15px 15px;
   border-radius: 3px;
   -webkit-appearance: none;
   cursor: pointer;
  }

  .styled-select {
   overflow: hidden;
   background: image-url('drop-menu.png') no-repeat right 17px;
   cursor: pointer;
  }
}

.form-item {
  label {
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 15px;
    color: #ACB0BD;
    font-weight: bold;
    padding-bottom: 8px;
  }

  &.details {
    @include size (89% auto);
    margin-left: 60px;
  }
}

input {
  @include span-columns (12);
  margin-bottom: 30px;
  float: none;
  border: 1px solid #D0D2DA;
  box-shadow: none;
  background: white;
  font-size: 14px;
  color: #939393;
  padding: 15px 0 15px 15px;
  border-radius: 3px;

  &.submit-button {
    @include transition (all 0.5s ease-in-out);
    @include size (200 auto);
    background: $header-red;
    border: 0;
    color: #fff;
    font-size: 22px;
    margin: 0;
    padding: 15px 0;
    margin: $center;
    margin-top: 80px;
    margin-bottom: 80px;

    &:hover {
      background: #892E3E;
    }
  }
}

.amPmCheckbox input[type="checkbox"] {
    display: none;
}
.amPmCheckbox input[type="checkbox"]+label {
    background: image-url('mobile-unchecked.png') no-repeat top center;
    cursor: pointer;
    font-size: 15px;
    color: #818490;
    padding-top: 90px;
    font-weight: 600;
}
.amPmCheckbox input[type="checkbox"]:checked + label {
    background: image-url('mobile-checked.png')  no-repeat top center;
}

.web-app-check input[type="checkbox"] {
    display: none;
}
.web-app-check input[type="checkbox"]+label {
    background: image-url('web-checked.png')  no-repeat top center;;
    cursor: pointer;
    font-size: 15px;
    color: #818490;
    padding-top: 90px;
    font-weight: 600;
}
.web-app-check input[type="checkbox"]:checked + label {
    background: image-url('web-unchecked.png')  no-repeat top center;
}

.form-item {
  margin-bottom: 15px;
  position: relative;

  .status {
    position: absolute;
    right: 0;
    bottom: 0;
    height: $inputH;
    width: $inputH;
    -webkit-perspective: 300px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 150% 150%;
    -moz-perspective: 300px;
    -moz-transform-style: preserve-3d;
    -moz-perspective-origin: 150% 150%;
     transform: rotateX(180deg);
     transition: all 0.2s;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }

    &.flip {
      transform: rotateX(1deg);

      .success {
        /*z-index: 2;*/
      }

      .fail {
        /*z-index: 1;*/
      }
    }

    .success {
      background: green;
      z-index: 1;
      transform: translateZ(1px);
    }

    .fail {
      background: red;
      z-index: 2;
    }
  }
}

label {
  color: #333;
  display: block;
}
