.header-section {
  @include clearfix;

  .logo {
    @include size (75 auto);
    float: left;
    padding-top: 50px;
    margin-left: 50px;
  }

  .nav {
    float: right;
  }

  .desktop-menu {
    display: none;
    @include media ($medium-screen) {
      display: block;
    }
  }

  nav {
    float: right;
    margin-top: 15px;

    ul {
      li {
        display: inline;
        margin: 0 30px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        a {
          @include transition (all 0.3s ease-in-out);
          text-transform: uppercase;
          font-size: 13px;
          color: $nav-color;

          &:hover {
            color: #C4B0B5;
          }
        }
      }
    }
  }
}
