.header-section {
  @include clearfix;

  .logo {
    @include size (75 auto);
    margin: $center;
    padding-top: 12%;
  }

  .nav {
    float: right;
  }

  .desktop-menu {
    display: none;
    @include media ($medium-screen) {
      display: block;
    }
  }

  nav {
    float: right;
    margin-top: 15px;

    ul {
      li {
        display: inline;
        margin: 0 30px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        a {
          @include transition (all 0.3s ease-in-out);
          text-transform: uppercase;
          font-size: 13px;
          color: $nav-color;

          &:hover {
            color: #C4B0B5;
          }
        }
      }
    }
  }
}

.scrolled {
  @include animation(blink 3.0s ease-in-out);
  @include animation-iteration-count(infinite);
  @include size (100% auto);
  position: absolute;
  bottom: 60px;
  text-align: center;
}

.header-wrap {
  @include clearfix;
}

.intro {
  text-align: center;
  margin-top: 100px;
  font-size: 85px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  font-family: 'Source Sans Pro', sans-serif;

  & span {
    color: $header-red;

    &.first {
      margin-left: -20px;
      letter-spacing: -23px
    }

    &.second {
      margin-left: -24px;
      letter-spacing: -16px;
    }
  }
}

.sub-intro {
  font-size: 25px;
  color: #fff;
  width: 730px;
  margin: $center;
  text-align: center;
  border-top: 2px solid $header-red;
  margin-top: 50px;
  padding-top: 40px;

  p {
    @include size (650 auto);
    line-height: 35px;
    margin: $center;
  }
}

.main-hero {
  background: $header-red;
  background: image-url('app-background.png') no-repeat right $header-red;
  min-height: 612px;

  .lab-intro {
    @include size (605 auto);
    line-height: 50px;
    font-size: 45px;
    color: #fff;
    padding: 100px 0 0 180px;
  }

  .hero-wrap {
    @include outer-container;
  }
}

.our-clients {
  @include size (100% auto);
  margin: $center;
  margin-bottom: 100px;

  h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
    opacity: 0.3;
  }

  ul {
    @include clearfix;
    li {
      @include span-columns (3.0);
      @include transition (all 0.3s ease-in-out);
      text-align: center;
      padding: 55px 0;
      opacity: 0.3;

      &.drone {
        padding-top: 65px;
      }

      &.tutor {
        @extend .drone;
      }

      &.cinch {
        padding-top: 85px;
      }

      &.geek {
        @extend .cinch;
      }

      &:hover {
        opacity: 1.0;
      }
    }
  }
}

.our-work {
  @include section-area;
  max-width: 100%;
  background: #fff;

  h1 {
    @include section-header;
  }

  p {
    @include paragraph;
    @include size (900 auto);
    margin: 0 auto;
    padding: 0;
  }

  ul {
    @include size (900 auto);
    margin: 0 auto;
    padding-top: 100px;

    li {
      @include span-columns (3.0 of 12);
      text-transform: uppercase;
      padding-top: 95px;
      font-size: 16px;
      color: #222;
      text-align: center;
      font-weight: 500;

      &.branding {
        background: image-url('branding.png') no-repeat top center;
      }

      &.design-ux {
        background: image-url('design-ux.png') no-repeat top center;
      }

      &.development {
        background: image-url('development.png') no-repeat top center;
      }

      &.consulting {
        background: image-url('consulting.png') no-repeat top center;
      }
    }
  }

  .work-top {
    @include clearfix;

    ul {
      max-width: 90em;

      li {
        @include span-columns (4);
        min-height: 268px;
        max-height: 268px;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;
      }
    }
  }

  .work-bottom {
    @extend .work-top;
    margin-top: 15px;
    margin-bottom: 120px;
  }
}

.client-area {
  background: $background-gray;
  @include clearfix;

  &.top {
   border-bottom: 1px solid #ebebeb;
   border-top: 1px solid #ebebeb;
  }

  ul {
    li {
      @include span-columns (3.2);
      margin: 0;
      text-align: center;
      border-right: 1px solid #ebebeb;
      padding: 30px 0;
      min-height: 200px;
      opacity: 0.8;

      &.mod {
        padding-top: 46px;
      }

      &.geek {
        padding-top: 76px;
      }

      &.drone {
        @extend .geek;
      }

      &.trackr {
        padding-top: 42px;
      }

      &.spark {
        padding-top: 70px;
      }

      &.native {
        padding-top: 62px;
      }

      &.geosnap {
        padding-top: 50px;
      }

      &.cinch {
        @extend .spark;
      }

      &:last-of-type {
        border-right: 0;
      }
    }
  }
}

.what-we-do {
  background: image-url('sketch-background.png') no-repeat #28282E;
  background-size: cover;

  .inner-wrapper {
    @include section-area;
    padding-bottom: 70px;

    h1 {
      @include section-header;
      padding-bottom: 30px;
      color: #fff;
    }

    p {
      @include paragraph;
      color: #fff;
      padding-bottom: 40px;
    }

    .toggle {
      @include size (138 auto);
      margin: $center;
      border-radius: 60px;
      background: #892E3E;
      padding: 7px;
      text-align: center;
      margin-bottom: 60px;

      ul {
        @include clearfix;

        li {
          display: block;
          float: left;
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }

          a {
            @include transition (all 0.3s ease-in-out);
            font-size: 15px;
            color: #fff;

            &:hover {
              opacity: 0.8;
            }

            &.active {
              border-radius: 60px;
              background: #fff;
              padding: 3px 10px;
              color: #892E3E;

              &:hover {
                opacity: 1.0;
              }
            }
          }
        }
      }
    }
  }
}

.process {
  background: #892E3E;

  .inner-wrapper {
    @include section-area;
    @include clearfix;
    padding-bottom: 100px;

    .column {
      @include span-columns (4.0);
      text-align: center;

      &:first-of-type {
        @include shift (0);
      }

      p {
        @include paragraph;
        color: #fff;
        padding-bottom: 40px
      }

      h2 {
        font-size: 30px;
        color: #fff;
        font-weight: lighter;
        padding: 40px 0 50px 0;

        &.discover {
          background: image-url('docs.png') no-repeat top;
        }

        &.build {
          background: image-url('build.png') no-repeat top;
        }

        &.launch {
          background: image-url('rocket.png') no-repeat top;
        }
      }
    }
  }
}

.contact {
  background: #fff;

  .inner-wrapper {
    @include section-area;
    @include clearfix;
  }

  h1 {
    @include section-header;
  }

  h2 {
    @include size (750 auto);
    margin: $center;
    font-size: 70px;
    color: #28282E;
    font-weight: 800;
    text-align: center;
    padding-bottom: 80px;

    & span {
      background: $header-red;
      color: #fff;
    }
  }

  p {
    @include paragraph;
    width: 850px;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .service-select {
    @include size (40% auto);
    border-radius: 3px;
    float: none;
    background: #F4F5F6;
    margin: $center;
    border: 1px solid #E3E4E6;
    margin-bottom: 90px;

    ul {
      @include clearfix;

      li {
        @include span-columns (5.9);
        text-align: center;
        border-right: 1px solid #E3E4E6;
        padding: 15px;

        &:last-of-type {
          margin: 0;
          border-right: none;
        }
      }
    }
  }
}

.form-bottom {
  @include clearfix;
  @include span-columns (12);
  padding: 0 60px;
  float: none;
  margin: $center;


  .form-left {
    @include span-columns (5.5);
  }

  .form-right {
    @include span-columns (5.5);
    @include shift (1);
  }

  .styled-select select {
   background: transparent;
   @include span-columns (12);
   margin-bottom: 15px;
   float: none;
   border: 1px solid #D0D2DA;
   box-shadow: none;
   font-size: 14px;
   color: #939393;
   padding: 15px 0 15px 15px;
   border-radius: 3px;
   -webkit-appearance: none;
   cursor: pointer;
  }

  .styled-select {
   overflow: hidden;
   background: image-url('drop-menu.png') no-repeat right 17px;
   cursor: pointer;
  }
}

.form-item {
  label {
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 15px;
    color: #ACB0BD;
    font-weight: bold;
    padding-bottom: 8px;
  }

  &.details {
    @include size (89% auto);
    margin-left: 60px;
  }
}

input {
  @include span-columns (12);
  margin-bottom: 30px;
  float: none;
  border: 1px solid #D0D2DA;
  box-shadow: none;
  background: white;
  font-size: 14px;
  color: #939393;
  padding: 15px 0 15px 15px;
  border-radius: 3px;

  &.submit-button {
    @include transition (all 0.5s ease-in-out);
    @include size (200 auto);
    background: $header-red;
    border: 0;
    color: #fff;
    font-size: 22px;
    margin: 0;
    padding: 15px 0;
    margin: $center;
    margin-top: 80px;
    margin-bottom: 80px;

    &:hover {
      background: #892E3E;
    }
  }
}

footer {
  background: #fff;
  padding: 70px 0;

  .footer-container {
    text-align: center;

    ul {
      display: inline-block;

      li {
        float: left;
        display: block;
        padding: 0 25px;

        a {
          @include transition (all 0.3s ease-in-out);
          text-transform: uppercase;
          color: #353535;
          font-size: 12px;
          font-weight: 600;

          &:hover {
            color: $header-red;
          }
        }

        img {
          padding-left: 5px;
        }

        &.pad {
          padding-top: 25px;
        }

        &.no-pad {
          margin: 0;
          padding: 0;

        }

        &:last-of-tpye {
          margin-right: 0;
        }
      }
    }

    .copyright {
      font-size: 10px;
      color: #353535;
    }
  }
}

.amPmCheckbox input[type="checkbox"] {
    display: none;
}
.amPmCheckbox input[type="checkbox"]+label {
    background: image-url('mobile-unchecked.png') no-repeat top center;
    cursor: pointer;
    font-size: 15px;
    color: #818490;
    padding-top: 90px;
    font-weight: 600;
}
.amPmCheckbox input[type="checkbox"]:checked + label {
    background: image-url('mobile-checked.png')  no-repeat top center;
}

.web-app-check input[type="checkbox"] {
    display: none;
}
.web-app-check input[type="checkbox"]+label {
    background: image-url('web-checked.png')  no-repeat top center;;
    cursor: pointer;
    font-size: 15px;
    color: #818490;
    padding-top: 90px;
    font-weight: 600;
}
.web-app-check input[type="checkbox"]:checked + label {
    background: image-url('web-unchecked.png')  no-repeat top center;
}

.form-item {
  margin-bottom: 15px;
  position: relative;

  .status {
    position: absolute;
    right: 0;
    bottom: 0;
    height: $inputH;
    width: $inputH;
    -webkit-perspective: 300px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 150% 150%;
    -moz-perspective: 300px;
    -moz-transform-style: preserve-3d;
    -moz-perspective-origin: 150% 150%;
     transform: rotateX(180deg);
     transition: all 0.2s;

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }

    &.flip {
      transform: rotateX(1deg);

      .success {
        /*z-index: 2;*/
      }

      .fail {
        /*z-index: 1;*/
      }
    }

    .success {
      background: green;
      z-index: 1;
      transform: translateZ(1px);
    }

    .fail {
      background: red;
      z-index: 2;
    }
  }
}

label {
  color: #333;
  display: block;
}

.fs1 {
  font-size: 4em;
  color: #fff;
}

.blurImg {
  position: relative;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;

  & > div {
    position: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.blur {
  opacity: 0;
}

.toggle-wrap {
  @include clearfix;

  .logo {
    @include size (60 60);
    float: left;
    background: $header-red;
  }

  .web-nav {
    @include media ($small-screen) {
      display: block;
    }
    display: none;

    ul {
      @include clearfix;

      li {
        display: block;
        float: left;
        font-size: 14px;

        a {
          @include transition (all 0.2s ease-in-out);
          padding: 18px 25px;
          display: block;
          color: #28282E;
          opacity: 0.8;

          &:first-of-type {
            // padding-left: 30px;
          }

          &:hover {
            background:#26262E;
            color: #fff;
          }
        }
      }
    }
  }
}

#top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  // background-color: #28282E;
  background: rgba(255, 255, 255, 0.95);
  display: none;
  margin: 0;
}

.work {
  background: #fff;
  @include clearfix;

  button {
    background: rgba(35, 44, 53, .75);
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 15px 30px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 43%;
  }
}

.work-left {
  @include span-columns (7 of 12);
  margin: 0;

  .left-top {
    position: relative;
    background: image-url('trackr-image.png') no-repeat top center;
    background-size: cover;
    border: 0;
    height: 32.3em;

    .hover-event {
      opacity: 0.0;
      @include transition (all 0.3s ease-in-out);
    }

    &:hover {
      @include transition (all 0.3s ease-in-out);
      .hover-event {
        opacity: 1.0;
        @include size (100% 100%);
        // background-color: rgba(255, 255, 255, 0.95);
      }
    }

    a {
      @include size (100% 100%);
      display: block;
    }
  }

  .left-bottom {
    position: relative;
    background: image-url('vertical.png') no-repeat top center;
    background-size: cover;
    height: 22em;

    .hover-event {
      opacity: 0.0;
      @include transition (all 0.3s ease-in-out);
    }

    &:hover {
      .hover-event {
        opacity: 1.0;
        @include size (100% 100%);
        // background-color: rgba(255, 255, 255, 0.95);
      }
    }

    a {
      @include size (100% 100%);
      display: block;
    }
  }

  img {
    width: 100%;
  }
}

.work-right {
  @include span-columns (5.275 of 12);
  margin: 0;

  .top-right-work {
    @include transition (all 0.3s ease-in-out);
    position: relative;
    background: image-url('wineo.png') no-repeat top center;
    background-size: cover;
    height: 17.5em;

    .hover-event {
      display: none;
      @include transition (all 0.3s ease-in-out);
    }

    &:hover {
      @include transition (all 0.3s ease-in-out);
      .hover-event {
        display: block;
        @include size (100% 100%);
        // background-color: rgba(255, 255, 255, 0.95);
      }
    }

    a {
      @include size (100% 100%);
      display: block;
    }
  }

  .bottom-right-work {
    position: relative;
    height: 36.8em;
    background: image-url('tutorstudy.png') no-repeat top center;
    background-size: cover;

    .hover-event {
      display: none;
      @include transition (all 0.3s ease-in-out);
    }

    &:hover {
      @include transition (all 0.3s ease-in-out);
      .hover-event {
        display: block;
        @include size (100% 100%);
        // background-color: rgba(255, 255, 255, 0.95);
      }
    }

    a {
      @include size (100% 100%);
      display: block;
    }
  }
}

.start-project {
  padding: 30px 0;
  text-align: center;
  background: $header-red;

  button {
    @include transition (all 0.3s ease-in-out);
    border: 2px solid #fff;
    border-radius: 100px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 20px 45px;

    &:hover {
      background: #fff;
      color: $header-red;
    }
  }
}

.the-work {
  background: #fff;
  padding-bottom: 120px;

  .inner-content {
    @include outer-container;
    padding-left: 80px;
    padding-right: 80px;

    ul {
      li {
        @include span-columns (5.86);

        max-width: 624px;
        padding-top: 34.85576923%;
        background-size: cover;
        -moz-background-size: cover;
        background-position: center;
        height: 120px;
        
        &.tutorme{
          background: image-url('tutor-cover.png') no-repeat;
        }

        &.vm{
          background: image-url('vm-cover.png') no-repeat;
        }

        &.trackr{
          background: image-url('trackr-cover.png') no-repeat;
        }

        &.wineo{
          background: image-url('wineo-cover.png') no-repeat;
        }
      }
    }
  }
}

::selection {
  background: $header-red; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $header-red; /* Gecko Browsers */
  color: #fff;
}
