.wrapper {
  @include outer-container;

  .logo {
    @include size (187 auto);
    margin: $center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  h2 {
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 100px;

    &.uppercase {
      font-size: 13px;
      color: #61ABD7;
      text-transform: uppercase;
      padding-bottom: 10px;
      text-align: left;
      margin-bottom: 0;
      font-weight: bold;
    }
  }

  ul {
    margin-top: 20px;

    li {
      padding: 10px 0px;
      font-style: italic;
      font-size: 16px;
      color: #737A8F;
      list-style-type: circle;
      margin-left: 20px;
    }
  }

  p {
    font-size: 19px;
    color: #737A8F;
    font-weight: normal;
    line-height: 37px;
    padding: 20px 0px;
  }

  .button-wrap {
    text-align: center;
    margin-bottom: 130px;
  }

  button {
    border: 2px solid #61ABD7;
    background: none;
    padding: 16px 45px;
    border-radius: 60px;
    font-size: 18px;
    color: #61ABD7;
    @include transition (all 0.2s ease-in-out);

    &:hover {
      background: #61ABD7;
      color: #fff;
    }
  }
}

