#top {
  padding: 20px 0;
  border-top: 5px solid #000000;
  border-bottom: 1px solid #000000;
}

#top .logo {
  float: left;
  width: 200px;
}

#top ul {
  float: right;
}

#top ul li {
  float: left;
  margin-left: 40px;
  text-transform: uppercase;
}

#top ul li:first-child {
  margin-right: 0;
}
