#top {
  .logo {
    float: left;
  }

  ul {
    float: right;

    li {
      float: left;
      margin-left: 40px;
      text-transform: uppercase;

      &:first-of-type {
        margin-right: 0;
      }
    }
  }
}
