$center: 0 auto;
$background-gray: #f6f6f6;
$header-red: #DC4A55;
$nav-color: #7E535E;
$inputH: 40px;


@mixin section-area {
  @include outer-container;
  padding-top: 160px;
  padding-bottom: 160px;
}

@mixin section-header {
  font-size: 38px;
  color: #29282B;
  text-align: center;
  padding-bottom: 60px;
}

@mixin paragraph {
  padding: 0 60px;
  font-size: 18px;
  font-weight: 300;
  color: #727272;
  line-height: 35px;
  text-align: center;
  padding-bottom: 120px;
}

@mixin case-study-heading {
  @include size (750 auto);
  margin: $center;
  font-size: 70px;
  color: #29282B;
  font-weight: 800;
}
