.logo {
  @include size (178 auto);
  margin: $center;
  margin-top: 200px;
}

.about-us {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  color: #222;
  margin-top: 40px;
  text-align: center;
}
