<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= current_page.data.title || "Mossio - We create mobile and web apps"
    = stylesheet_link_tag "all"
    %link{:href => "//cloud.typography.com/7421532/757426/css/fonts.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    = javascript_include_tag  "all"
  %body{:class => page_classes}
    = yield
    #preloader
      #status
        .container
          .wrap
            .cube
              .front
                =image_tag 'sm-logo.png'
              .back
                =image_tag 'sm-logo.png'
              .top
                =image_tag 'sm-logo.png'
              .bottom
                =image_tag 'sm-logo.png'
              .left
                =image_tag 'sm-logo.png'
              .right
                =image_tag 'sm-logo.png'
