.main-footer {
  background: #fff;
  padding: em(35) 0;
  text-align: center;

  @include media($medium-screen-up) {
    padding: em(70) 0;
  }

  ul {
    @include fill-parent;
    display: inline-block;
    text-align: center;

    li {
      @include span-columns(2 of 4);
      @include omega(2n);
      margin-bottom: $base-y;
      text-align: center;

      @include media($medium-screen-up) {
        @include omega-reset(2n);
        display: inline-block;
        float: none;
        margin: 0 em(20) $base-y;
        width: auto;
      }

      a {
        @include transition (all 0.3s ease-in-out);
        text-transform: uppercase;
        color: #353535;
        font-size: 12px;
        font-weight: 300;

        &:hover {
          color: $header-red;
        }
      }
    }
  }
}

.copyright {
  color: #353535;
  font-size: em(10);
  margin-bottom: 0;
}
