@mixin section-area {
  padding-top: em(80);
  padding-bottom: em(80);

  @include media($large-screen-up) {
    padding-top: em(160);
    padding-bottom: em(160);
  }
}

@mixin section-header {
  font-size: 38px;
  color: $header-black;
  text-align: center;
  padding-bottom: 60px;
}

@mixin paragraph {
  padding: 0 60px;
  font-size: 18px;
  font-weight: 300;
  color: #727272;
  line-height: 35px;
  text-align: center;
  padding-bottom: 120px;
}

@mixin case-study-heading {
  @include size (750 auto);
  margin: $center;
  font-size: 70px;
  color: $header-black;
  font-weight: 800;
}
