/* line 2, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 3, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

/* line 11, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
h1 {
  font-size: 2.75em;
  font-weight: 300;
  display: block; }

/* line 24, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
h2 {
  font-size: 2em; }
  /* line 26, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
  h2.small {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: 1em; }

/* line 34, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
h3 {
  font-size: 1.5em;
  font-family: "Belgrano", serif;
  font-weight: 300;
  line-height: 1.4em; }

/* line 41, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
h4 {
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: .3em .7em;
  margin-bottom: 4em;
  margin-top: 5em;
  font-weight: 800;
  font-size: 0.7em;
  display: inline-block; }

/* line 54, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 58, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
h6 {
  font-size: 1em; }

/* line 62, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 66, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
a {
  color: #319fce;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  /* line 71, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
  a:hover {
    color: #2ea9de; }
  /* line 75, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
  a:active, a:focus {
    color: #2ea9de;
    outline: none; }

/* line 81, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #f0f0f0;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 89, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 94, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #f0f0f0;
  cursor: help; }

/* line 99, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em; }

/* line 104, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em; }

/* line 108, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
del {
  color: #595959; }

/* line 112, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #f0f0f0;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 119, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 123, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_tables.scss */
th {
  border-bottom: 1px solid #cacaca;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_tables.scss */
td {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.75em 0; }

/* line 20, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_flashes.scss */
.error, #flash_failure {
  background: #fbe3e4;
  color: #96151b;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/mossio/source/stylesheets/bitters/mixins/_flash.scss */
  .error a, #flash_failure a {
    color: #6a0f13; }
    /* line 11, /Users/coreyhaggard/mossio/source/stylesheets/bitters/mixins/_flash.scss */
    .error a:hover, #flash_failure a:hover {
      color: #110203; }

/* line 5, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_flashes.scss */
.notice, #flash_notice {
  background: #fff6bf;
  color: #8c7800;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/mossio/source/stylesheets/bitters/mixins/_flash.scss */
  .notice a, #flash_notice a {
    color: #594c00; }
    /* line 11, /Users/coreyhaggard/mossio/source/stylesheets/bitters/mixins/_flash.scss */
    .notice a:hover, #flash_notice a:hover {
      color: black; }

/* line 9, /Users/coreyhaggard/mossio/source/stylesheets/bitters/_flashes.scss */
.success, #flash_success {
  background: #e6efc2;
  color: #56651a;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding: 0.75em; }
  /* line 8, /Users/coreyhaggard/mossio/source/stylesheets/bitters/mixins/_flash.scss */
  .success a, #flash_success a {
    color: #333c10; }
    /* line 11, /Users/coreyhaggard/mossio/source/stylesheets/bitters/mixins/_flash.scss */
    .success a:hover, #flash_success a:hover {
      color: black; }

@-webkit-keyframes fadeIn {
  /* line 2, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  from {
    opacity: 0.0; }

  /* line 5, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  to {
    opacity: 1.0; } }

@-moz-keyframes fadeIn {
  /* line 2, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  from {
    opacity: 0.0; }

  /* line 5, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  to {
    opacity: 1.0; } }

@-o-keyframes fadeIn {
  /* line 2, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  from {
    opacity: 0.0; }

  /* line 5, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  to {
    opacity: 1.0; } }

@keyframes fadeIn {
  /* line 2, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  from {
    opacity: 0.0; }

  /* line 5, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  to {
    opacity: 1.0; } }

@-webkit-keyframes fadeIns {
  /* line 11, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  0 {
    opacity: 0.0; }

  /* line 14, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  50% {
    opacity: 0.5; }

  /* line 17, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  100% {
    opacity: 1.0; } }

@-moz-keyframes fadeIns {
  /* line 11, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  0 {
    opacity: 0.0; }

  /* line 14, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  50% {
    opacity: 0.5; }

  /* line 17, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  100% {
    opacity: 1.0; } }

@-o-keyframes fadeIns {
  /* line 11, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  0 {
    opacity: 0.0; }

  /* line 14, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  50% {
    opacity: 0.5; }

  /* line 17, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  100% {
    opacity: 1.0; } }

@keyframes fadeIns {
  /* line 11, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  0 {
    opacity: 0.0; }

  /* line 14, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  50% {
    opacity: 0.5; }

  /* line 17, /Users/coreyhaggard/mossio/source/stylesheets/_animations.scss */
  100% {
    opacity: 1.0; } }

/* line 1, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-handle:before, .twentytwenty-handle:after {
  content: " ";
  display: block;
  width: 3px;
  background: white;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

/* line 15, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%; }

/* line 22, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

/* line 27, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity; }

/* line 32, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

/* line 37, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  margin-top: -19px;
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

/* line 48, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px; }

/* line 56, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }

/* line 64, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-container img {
  position: absolute;
  top: 0;
  display: block; }

/* line 68, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
  background: rgba(0, 0, 0, 0); }

/* line 72, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0; }

/* line 74, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 79, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before-label {
  opacity: 0; }

/* line 81, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before-label:before {
  content: "Before";
  left: 10px; }

/* line 85, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-after-label {
  opacity: 0; }

/* line 87, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-after-label:before {
  content: "After";
  right: 10px; }

/* line 91, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }

/* line 97, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5); }

/* line 99, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1; }

/* line 101, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1; }

/* line 104, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-before {
  z-index: 20; }

/* line 107, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-after {
  z-index: 10; }

/* line 110, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

/* line 127, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

/* line 133, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

/* line 140, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

/* line 145, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

/* line 150, /Users/coreyhaggard/mossio/source/stylesheets/_twentytwenty.scss */
.twentytwenty-wrapper {
  width: 330px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 80px; }

/* line 1, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.toggle {
  visibility: hidden;
  position: absolute;
  left: -9999px; }

/* line 7, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.hamburger {
  top: 50%;
  left: 50%;
  margin: -8px -16px;
  display: block;
  width: 32px;
  height: 16px;
  position: relative;
  transition: .2s;
  transition-delay: .15s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* line 20, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.hamburger i {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 1px;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 50%;
  transition: .3s;
  transition-delay: .2s; }

/* line 34, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.hamburger:after, .hamburger:before {
  content: '';
  position: absolute;
  top: 0;
  height: 0;
  border-bottom: 1px solid black;
  width: 100%;
  left: 0;
  right: 0;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-origin: left top; }

/* line 47, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.hamburger:after {
  top: 100%;
  transform-origin: left bottom; }

/* line 52, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.toggle:checked + .hamburger {
  transform: translate3d(16px, 0, 0);
  transition-delay: .2s; }

/* line 57, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.toggle:checked + .hamburger i {
  opacity: 0;
  transition-delay: 0; }

/* line 62, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.toggle:checked + .hamburger:after {
  transform: rotate3d(0, 0, 1, -135deg) translate3d(-8px, 4px, 0); }

/* line 66, /Users/coreyhaggard/mossio/source/stylesheets/_mobile-menu.scss */
.toggle:checked + .hamburger:before {
  transform: rotate3d(0, 0, 1, 135deg) translate3d(-8px, -4px, 0); }

/* line 1, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.header-section {
  *zoom: 1;
  padding: 0 30px;
  background: url("/images/header-background.png") no-repeat;
  background-size: cover; }
  /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .header-section:before, .header-section:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .header-section:after {
    clear: both; }
  /* line 7, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .header-section .logo {
    width: 75px;
    height: auto;
    float: left;
    padding-top: 50px; }
  /* line 13, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .header-section .nav {
    float: right; }
  /* line 17, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .header-section .desktop-menu {
    display: none; }
    @media screen and (min-width: 47.5em) {
      /* line 17, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .header-section .desktop-menu {
        display: block; } }
  /* line 24, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .header-section nav {
    float: right;
    margin-top: 15px; }
    /* line 29, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .header-section nav ul li {
      display: inline;
      margin: 0 30px; }
      /* line 33, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .header-section nav ul li:first-of-type {
        margin-left: 0; }
      /* line 37, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .header-section nav ul li:last-of-type {
        margin-right: 0; }
      /* line 41, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .header-section nav ul li a {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        font-size: 13px;
        color: #7e535e; }
        /* line 47, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
        .header-section nav ul li a:hover {
          color: #C4B0B5; }

/* line 56, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.main-hero {
  background: #dc4a55;
  background: url("/images/app-background.png") no-repeat right #dc4a55;
  min-height: 612px; }
  /* line 61, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .main-hero .lab-intro {
    width: 605px;
    height: auto;
    line-height: 50px;
    font-size: 45px;
    color: #fff;
    padding: 100px 0 0 180px; }
  /* line 69, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .main-hero .hero-wrap {
    *zoom: 1;
    max-width: 87.5em;
    margin-left: auto;
    margin-right: auto; }
    /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .main-hero .hero-wrap:before, .main-hero .hero-wrap:after {
      content: " ";
      display: table; }
    /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .main-hero .hero-wrap:after {
      clear: both; }

/* line 74, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.our-work {
  *zoom: 1;
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  max-width: 90em; }
  /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .our-work:before, .our-work:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .our-work:after {
    clear: both; }
  /* line 78, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .our-work h1 {
    font-size: 38px;
    color: #222222;
    text-align: center;
    padding-bottom: 60px; }
  /* line 82, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .our-work p {
    padding: 0 60px;
    font-size: 19px;
    color: #727272;
    line-height: 35px;
    text-align: center;
    padding-bottom: 120px; }
  /* line 86, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .our-work .work-top, .our-work .work-bottom {
    *zoom: 1; }
    /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .our-work .work-top:before, .our-work .work-bottom:before, .our-work .work-top:after, .our-work .work-bottom:after {
      content: " ";
      display: table; }
    /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .our-work .work-top:after, .our-work .work-bottom:after {
      clear: both; }
    /* line 89, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .our-work .work-top ul, .our-work .work-bottom ul {
      max-width: 90em; }
      /* line 91, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .our-work .work-top ul li, .our-work .work-bottom ul li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        min-height: 268px;
        max-height: 268px;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative; }
        /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
        .our-work .work-top ul li:last-child, .our-work .work-bottom ul li:last-child {
          margin-right: 0; }
  /* line 102, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .our-work .work-bottom {
    margin-top: 15px;
    margin-bottom: 120px; }

/* line 109, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.client-area {
  background: #f6f6f6;
  *zoom: 1; }
  /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .client-area:before, .client-area:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .client-area:after {
    clear: both; }
  /* line 113, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .client-area.top {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb; }
  /* line 119, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .client-area ul li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 24.93772%;
    margin: 0;
    text-align: center;
    border-right: 1px solid #ebebeb;
    padding: 30px 0;
    min-height: 200px;
    opacity: 0.8; }
    /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
    .client-area ul li:last-child {
      margin-right: 0; }
    /* line 128, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .client-area ul li.mod {
      padding-top: 46px; }
    /* line 132, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .client-area ul li.geek, .client-area ul li.drone {
      padding-top: 76px; }
    /* line 140, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .client-area ul li.trackr {
      padding-top: 42px; }
    /* line 144, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .client-area ul li.spark, .client-area ul li.cinch {
      padding-top: 70px; }
    /* line 148, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .client-area ul li.native {
      padding-top: 62px; }
    /* line 152, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .client-area ul li.geosnap {
      padding-top: 50px; }
    /* line 160, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .client-area ul li:last-of-type {
      border-right: 0; }

/* line 167, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.what-we-do {
  background: url("/images/sketch-background.png") no-repeat #b93f54;
  background-size: cover; }
  /* line 171, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .what-we-do .inner-wrapper {
    *zoom: 1;
    max-width: 87.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    padding-bottom: 70px; }
    /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .what-we-do .inner-wrapper:before, .what-we-do .inner-wrapper:after {
      content: " ";
      display: table; }
    /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .what-we-do .inner-wrapper:after {
      clear: both; }
    /* line 175, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .what-we-do .inner-wrapper h1 {
      font-size: 38px;
      color: #222222;
      text-align: center;
      padding-bottom: 60px;
      padding-bottom: 30px;
      color: #fff; }
    /* line 181, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .what-we-do .inner-wrapper p {
      padding: 0 60px;
      font-size: 19px;
      color: #727272;
      line-height: 35px;
      text-align: center;
      padding-bottom: 120px;
      color: #fff;
      padding-bottom: 40px; }
    /* line 187, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .what-we-do .inner-wrapper .toggle {
      width: 138px;
      height: auto;
      margin: 0 auto;
      border-radius: 60px;
      background: #892E3E;
      padding: 7px;
      text-align: center;
      margin-bottom: 60px; }
      /* line 196, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .what-we-do .inner-wrapper .toggle ul {
        *zoom: 1; }
        /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
        .what-we-do .inner-wrapper .toggle ul:before, .what-we-do .inner-wrapper .toggle ul:after {
          content: " ";
          display: table; }
        /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
        .what-we-do .inner-wrapper .toggle ul:after {
          clear: both; }
        /* line 199, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
        .what-we-do .inner-wrapper .toggle ul li {
          display: block;
          float: left;
          margin-right: 10px; }
          /* line 204, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
          .what-we-do .inner-wrapper .toggle ul li:last-of-type {
            margin-right: 0; }
          /* line 208, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
          .what-we-do .inner-wrapper .toggle ul li a {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            font-size: 15px;
            color: #fff; }
            /* line 213, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
            .what-we-do .inner-wrapper .toggle ul li a:hover {
              opacity: 0.8; }
            /* line 217, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
            .what-we-do .inner-wrapper .toggle ul li a.active {
              border-radius: 60px;
              background: #fff;
              padding: 3px 10px;
              color: #892E3E; }
              /* line 223, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
              .what-we-do .inner-wrapper .toggle ul li a.active:hover {
                opacity: 1.0; }

/* line 234, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.process {
  background: #892E3E; }
  /* line 237, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .process .inner-wrapper {
    *zoom: 1;
    max-width: 87.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    *zoom: 1;
    padding-bottom: 100px; }
    /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .process .inner-wrapper:before, .process .inner-wrapper:after {
      content: " ";
      display: table; }
    /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .process .inner-wrapper:after {
      clear: both; }
    /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .process .inner-wrapper:before, .process .inner-wrapper:after {
      content: " ";
      display: table; }
    /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .process .inner-wrapper:after {
      clear: both; }
    /* line 242, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .process .inner-wrapper .column {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center; }
      /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
      .process .inner-wrapper .column:last-child {
        margin-right: 0; }
      /* line 246, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .process .inner-wrapper .column:first-of-type {
        margin-left: 0%; }
      /* line 250, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .process .inner-wrapper .column p {
        padding: 0 60px;
        font-size: 19px;
        color: #727272;
        line-height: 35px;
        text-align: center;
        padding-bottom: 120px;
        color: #fff;
        padding-bottom: 40px; }
      /* line 256, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .process .inner-wrapper .column h2 {
        font-size: 30px;
        color: #fff;
        font-weight: lighter;
        padding: 40px 0 50px 0; }
        /* line 262, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
        .process .inner-wrapper .column h2.discover {
          background: url("/images/docs.png") no-repeat top; }
        /* line 266, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
        .process .inner-wrapper .column h2.build {
          background: url("/images/build.png") no-repeat top; }
        /* line 270, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
        .process .inner-wrapper .column h2.launch {
          background: url("/images/rocket.png") no-repeat top; }

/* line 280, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.contact .inner-wrapper {
  *zoom: 1;
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  *zoom: 1; }
  /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .contact .inner-wrapper:before, .contact .inner-wrapper:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .contact .inner-wrapper:after {
    clear: both; }
  /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .contact .inner-wrapper:before, .contact .inner-wrapper:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .contact .inner-wrapper:after {
    clear: both; }
/* line 285, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.contact h1 {
  font-size: 38px;
  color: #222222;
  text-align: center;
  padding-bottom: 60px; }
/* line 289, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.contact p {
  padding: 0 60px;
  font-size: 19px;
  color: #727272;
  line-height: 35px;
  text-align: center;
  padding-bottom: 120px;
  padding-bottom: 40px; }
/* line 294, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.contact .service-select {
  width: 40%;
  height: auto;
  border-radius: 3px;
  float: none;
  background: #F4F5F6;
  margin: 0 auto;
  border: 1px solid #E3E4E6;
  margin-bottom: 90px; }
  /* line 303, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .contact .service-select ul {
    *zoom: 1; }
    /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .contact .service-select ul:before, .contact .service-select ul:after {
      content: " ";
      display: table; }
    /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
    .contact .service-select ul:after {
      clear: both; }
    /* line 306, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .contact .service-select ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 47.96819%;
      text-align: center;
      border-right: 1px solid #E3E4E6;
      padding: 15px; }
      /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
      .contact .service-select ul li:last-child {
        margin-right: 0; }
      /* line 312, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .contact .service-select ul li:last-of-type {
        margin: 0;
        border-right: none; }

/* line 321, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.form-bottom {
  *zoom: 1;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 60px;
  float: none;
  margin: 0 auto; }
  /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .form-bottom:before, .form-bottom:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  .form-bottom:after {
    clear: both; }
  /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
  .form-bottom:last-child {
    margin-right: 0; }
  /* line 329, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .form-bottom .form-left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 44.55627%; }
    /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
    .form-bottom .form-left:last-child {
      margin-right: 0; }
  /* line 333, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .form-bottom .form-right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 44.55627%;
    margin-left: 8.5298%; }
    /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
    .form-bottom .form-right:last-child {
      margin-right: 0; }
  /* line 338, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .form-bottom .styled-select select {
    background: transparent;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 15px;
    float: none;
    border: 1px solid #D0D2DA;
    box-shadow: none;
    font-size: 14px;
    color: #939393;
    padding: 15px 0 15px 15px;
    border-radius: 3px;
    -webkit-appearance: none;
    cursor: pointer; }
    /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
    .form-bottom .styled-select select:last-child {
      margin-right: 0; }
  /* line 353, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .form-bottom .styled-select {
    overflow: hidden;
    background: url("/images/drop-menu.png") no-repeat right 17px;
    cursor: pointer; }

/* line 361, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.form-item label {
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 15px;
  color: #ACB0BD;
  font-weight: bold;
  padding-bottom: 8px; }
/* line 370, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.form-item.details {
  width: 89%;
  height: auto;
  margin-left: 60px; }

/* line 376, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 30px;
  float: none;
  border: 1px solid #D0D2DA;
  box-shadow: none;
  background: white;
  font-size: 14px;
  color: #939393;
  padding: 15px 0 15px 15px;
  border-radius: 3px; }
  /* line 40, /Users/coreyhaggard/mossio/source/stylesheets/neat/grid/_span-columns.scss */
  input:last-child {
    margin-right: 0; }
  /* line 388, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  input.submit-button {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 200px;
    height: auto;
    background: #dc4a55;
    border: 0;
    color: #fff;
    font-size: 22px;
    margin: 0;
    padding: 15px 0;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px; }
    /* line 401, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    input.submit-button:hover {
      background: #892E3E; }

/* line 407, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
footer {
  *zoom: 1;
  background: #f6f6f6;
  color: #535353;
  font-size: 14px;
  padding: 40px 30px; }
  /* line 18, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  footer:before, footer:after {
    content: " ";
    display: table; }
  /* line 23, /Users/coreyhaggard/mossio/source/stylesheets/bourbon/addons/_clearfix.scss */
  footer:after {
    clear: both; }
  /* line 414, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  footer .address {
    float: left; }
    /* line 418, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    footer .address ul li {
      display: inline;
      margin-right: 50px; }
      /* line 422, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      footer .address ul li:last-of-type {
        margin-right: 0; }
      /* line 426, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      footer .address ul li a {
        -webkit-transition: 0.5 all ease-in-out;
        -moz-transition: 0.5 all ease-in-out;
        transition: 0.5 all ease-in-out;
        color: #CE7D8B; }
        /* line 430, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
        footer .address ul li a:hover {
          color: #dc4a55; }
  /* line 438, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  footer .copyright {
    float: right; }

/* line 443, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.amPmCheckbox input[type="checkbox"] {
  display: none; }

/* line 446, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.amPmCheckbox input[type="checkbox"] + label {
  background: url("/images/mobile-unchecked.png") no-repeat top center;
  cursor: pointer;
  font-size: 15px;
  color: #818490;
  padding-top: 90px;
  font-weight: 600; }

/* line 454, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.amPmCheckbox input[type="checkbox"]:checked + label {
  background: url("/images/mobile-checked.png") no-repeat top center; }

/* line 458, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.web-app-check input[type="checkbox"] {
  display: none; }

/* line 461, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.web-app-check input[type="checkbox"] + label {
  background: url("/images/web-checked.png") no-repeat top center;
  cursor: pointer;
  font-size: 15px;
  color: #818490;
  padding-top: 90px;
  font-weight: 600; }

/* line 469, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.web-app-check input[type="checkbox"]:checked + label {
  background: url("/images/web-unchecked.png") no-repeat top center; }

/* line 473, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.form-item {
  margin-bottom: 15px;
  position: relative; }
  /* line 477, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
  .form-item .status {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    -webkit-perspective: 300px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 150% 150%;
    -moz-perspective: 300px;
    -moz-transform-style: preserve-3d;
    -moz-perspective-origin: 150% 150%;
    transform: rotateX(180deg);
    transition: all 0.2s; }
    /* line 492, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .form-item .status span {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0; }
    /* line 501, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .form-item .status.flip {
      transform: rotateX(1deg); }
      /* line 504, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .form-item .status.flip .success {
        /*z-index: 2;*/ }
      /* line 508, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
      .form-item .status.flip .fail {
        /*z-index: 1;*/ }
    /* line 513, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .form-item .status .success {
      background: green;
      z-index: 1;
      transform: translateZ(1px); }
    /* line 519, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
    .form-item .status .fail {
      background: red;
      z-index: 2; }

/* line 526, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
label {
  color: #333;
  display: block; }

/* line 531, /Users/coreyhaggard/mossio/source/stylesheets/_homepage.scss */
.fs1 {
  font-size: 4em;
  color: #fff; }

/* line 33, /Users/coreyhaggard/mossio/source/stylesheets/all.scss */
#popover-content {
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.5s, opacity 0.3s linear;
  transition: visibility 0s linear 0.5s, opacity 0.3s linear;
  background-color: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999999999; }
  /* line 48, /Users/coreyhaggard/mossio/source/stylesheets/all.scss */
  #popover-content .close {
    width: 40px;
    height: 40px;
    display: block;
    float: right;
    margin: 30px 30px 0 0; }
    /* line 54, /Users/coreyhaggard/mossio/source/stylesheets/all.scss */
    #popover-content .close:hover {
      cursor: pointer; }
  /* line 59, /Users/coreyhaggard/mossio/source/stylesheets/all.scss */
  #popover-content.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }

/* line 71, /Users/coreyhaggard/mossio/source/stylesheets/all.scss */
.scroll {
  width: 100%;
  height: 100%;
  background: green;
  overflow: scroll; }
