/* line 3, /Users/coreyhaggard/coreymade.github.io/source/stylesheets/homepage.scss */
.logo {
  width: 178px;
  margin: 0 auto;
  margin-top: 200px; }

/* line 9, /Users/coreyhaggard/coreymade.github.io/source/stylesheets/homepage.scss */
.about-us {
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  color: #222;
  margin-top: 40px;
  text-align: center; }
