$header-color: #28282E;

.case-study-wrap {
  h2 {
    font-weight: 800;
  }
}

h2.case-study-title {
  color: $header-color;
  font-size: em(30);
  font-weight: 800;

  @include media($medium-screen-up) {
    font-size: em(64);
  }
}

.the-intro {
  @extend .section-wrap;

  h2 {
    color: #28282e;
    font-size: em(24);
    padding-bottom: em(40, 24);
  }

  .divider {
    @include size (em(50) em(2));
    background: #E9EBEC;
    margin: 0 auto em(40);

    @include media($medium-screen-up) {
      margin: 0 0 em(40);
    }
  }

  p {
    color: #7D8692;
    font-size: 18px;
    line-height: 32px;
  }

  .the-problem,
  .the-solution {
    @include fill-parent;
    margin-bottom: $base-y * 2;
    text-align: center;

    @include media($medium-screen-up) {
      @include span-columns(4 of 8);
      @include omega(2n);
      text-align: left;
    }

    @include media($large-screen-up) {
      @include span-columns(4 of 12);
    }
  }

  .the-problem {
    @include media($large-screen-up) {
      @include shift(1.5);
    }
  }

  .the-solution {
    @include media($large-screen-up) {
      @include shift(1.5);
    }
  }
}

.product {
  padding: 0 flex-gutter(4);
  text-align: center;
  margin-bottom: 4em;

  img {
    max-width: 75%;
  }

  @include media($medium-screen-up) {
    padding: 0 flex-gutter(8);
  }

  @include media(large-screen-up) {
    padding: 0 flex-gutter(12);
  }
}

.mobile-experience {
  text-align: center;

  h2 {
    font-size: em(24);
    padding-bottom: em(40, 24);
    color: $header-color;
  }

  .sensor {
    background: image-url('sound.png') no-repeat top center;
    min-height: 200px;

    .points-left {
      float: left;
    }

    .points-right {
      float: right;
    }
  }

  .mobile-shots {
    margin-bottom: em(120);
  }
}

.web-experience {
  h2 {
    font-size: em(24);
    padding-bottom: em(40, 24);
    color: $header-color;
  }

  .browser {
    max-width: 90%;
    margin: $center;
    box-shadow: 0 1px 20px #E9E9E9;
    margin-bottom: 120px;

    @include media($large-screen-up) {
      max-width: em(840);
    }

    @include media($excessive-screen-up) {
      max-width: em(1068);
    }

    .browser-bar {
      overflow: hidden;

      img {
        float: left;
      }
    }

    .browser-content {
      @include size (auto 700);
      overflow: hidden;

      img {
        float: left;
      }
    }
  }
}

.study-pagination {
  > div {
    @include fill-parent;
    margin-bottom: -1px;

    @include media($medium-screen-up) {
      display: inline-block;
      float: left;
      width: 50%;
    }

    a {
      display: block;
      min-height: 430px;
      overflow: hidden;
      text-indent: -9999px;
    }

    &.tutorme{
      background: image-url('tutor-cover.png') no-repeat;
      background-size: cover;
      background-position: center;
    }

    &.vm{
      background: image-url('vm-cover.png') no-repeat;
      background-size: cover;
      background-position: center;
    }

    &.trackr{
      background: image-url('trackr-cover.png') no-repeat;
      background-size: cover;
      background-position: center;
    }

    &.wineo{
      background: image-url('wineo-cover.png') no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
