.tutor-me-header {
  background: image-url('open-book.png') no-repeat bottom center;
  background-size: 100%;
  text-align: center;
  padding: em(50) 0 em(150);

  @include media($medium-screen-up) {
    padding: em(100) 0 em(300);
  }

  @include media($large-screen-up) {
    padding: em(150) 0 em(600);
  }
}

.tutor-session {
  @include clearfix;
  background: image-url('tutor-session-background.png') no-repeat bottom center;
  background-size: cover;
  padding: 10em 0;

  .section-header {
    @include media($large-screen-up) {
      @include span-columns(4 of 12);
      @include shift(0);

      h2, p {
        text-align: left;
        font-size: 1.50em;
      }

      p {
        font-size: 1.125em;
      }
    }
  }

  .session-background {
    @include media($large-screen-up) {
      @include span-columns(7 of 12);
      @include shift(1);
      @include omega;
      float: right;
      position: relative;
      top: -500px;
      margin-bottom: -500px;
    }
  }
}

.tutor-interfaces {
  padding: 4em 0;

  .section-header {
    @include media($large-screen-up) {
      @include span-columns(4 of 12);
      @include shift(0);

      h2, p {
        text-align: left;
      }
    }
  }
}

.tutor-interfaces-background {
  @include clearfix;
  @include fill-parent;
  text-align: right;
  float: none;
  position: relative;

  @include media($large-screen-up) {
    float: right;
    top: -400px;
    margin-bottom: -400px;
    position: relative;
    max-width: em(700);

    img {
      max-width: 100%;
    }
  }

  @include media($excessive-screen-up) {
    max-width: em(900);
  }
}
