.wineo-header {
  @extend .section-wrap;
  background: image-url('wineo-background.png') no-repeat left -200px;
  background-size: cover;
  padding-top: em(200);

  @include media($medium-screen-up) {
    background-position: left -300px;
    padding-top: em(350);
  }

  @include media($excessive-screen-up) {
    background-size: auto;
    background-position: left bottom;
    padding-top: em(250);
    padding-bottom: em(400);
  }

  .case-study-title {
    text-align: center;

    @include media($large-screen-up) {
      @include span-columns(7 of 12);
      @include shift(5);
      text-align: left;
    }

    @include media($excessive-screen) {
      @include shift(2);
    }
  }
}

.wineo-the-intro {
  @extend .the-intro;
  padding-top: 0;
}

.wineo-product {
  @extend .product;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.wineo-icons {
  @include retina-image('wineo-icons', 607px 128px, $asset-pipeline: true);
  @include size(100% 180px);
  background-size: 100%;
  background-repeat: no-repeat;
  clear: both;

  @include media($medium-screen-up) {
    @include size(607px 128px);
    margin: $center;
    margin-bottom: em(120);
  }

  @include media($large-screen-up) {
    position: relative;
    top: - em(60);
    margin-bottom: em(60);
  }
}

.wineo-app {
  .section-header {
    p:first-of-type {
      margin-bottom: $base-y * 2;

      @include media($medium-screen-up) {
        margin-bottom: $base-y * 4;
      }
    }

    @include media($large-screen-up) {
      @include span-columns(4 of 12);
      @include shift(0);
      padding-top: em(200);

      h2,
      p {
        text-align: left;
      }
    }
  }
}

.wineo-app-background {
  @include clearfix;
  @include fill-parent;
  text-align: right;
  float: none;
  position: relative;

  @include media($large-screen-up) {
    float: right;
    top: -1000px;
    margin-bottom: -1100px;
    position: relative;
    max-width: em(700);

    img {
      max-width: 100%;
    }
  }

  @include media($excessive-screen-up) {
    max-width: em(900);
    margin-right: 300px;
  }
}

.wineo-end-result {
  margin-bottom: em(120);

  .section-header{
    @include media($large-screen-up) {
      @include span-columns(4 of 12);
      @include shift(0);
      padding-top: em(200);

      h2,
      p {
        text-align: left;
      }
    }
  }
}

.wineo-end-result-background {
  @include clearfix;
  @include fill-parent;
  text-align: right;
  padding-left: em(60);
  padding-right: em(60);

  @include media($large-screen-up) {
    float: right;
    top: -600px;
    margin-bottom: -500px;
    position: relative;
    max-width: em(700);

    img {
      max-width: 100%;
    }
  }

  @include media($excessive-screen-up) {
    max-width: em(900);
    margin-right: 300px;
  }
}
