%section.start-project
  %a{:href => "contact.html"}
    %button.popover
      Let's start a project

%footer.main-footer
  .wrap
    %ul
      %li
        %a{:href => "index.html"} Home
      %li
        %a{:href => "our-work.html"} Our work
      %li
        %a{:href => "discover.html"} Discover Us
      %li
        %a{:href => "#"} Thoughts
      %li
        %a{:href => "careers.html"} Careers
      %li
        %a.popover{:href => "contact.html"} Contact
    .copyright
      Copyright © 2014 - Mossio LLC - All Rights Reserved.

:javascript
  $(window).load(function(){
        $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
      });

:javascript
    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({'overflow':'visible'});
    })
