#preloader
  #status
    .container
      .wrap
        .cube
          .front
            =image_tag 'sm-logo.png'
          .back
            =image_tag 'sm-logo.png'
          .top
            =image_tag 'sm-logo.png'
          .bottom
            =image_tag 'sm-logo.png'
          .left
            =image_tag 'sm-logo.png'
          .right
            =image_tag 'sm-logo.png'

= partial :menu

%header
  .header-section.group
    .blurImg
      %div.new{:style => "background-image: url('images/normal-bg.png')"}
      .blur{:style => "background-image: url('images/blurred-bg.png')"}
    .header-wrap
      .logo
        =image_tag 'logo.png'
      %nav
        nav here
    .intro.intros
      we
      %span.first .
      build
      %span.second .
      apps

    .sub-intro#show-menu
      %p
        We’re a full service digital agency focused on building scalable web and mobile applications.

    .scrolled
      =image_tag 'scroll-down.png'

  %section.our-clients
    %h2
      clients we've helped
    %ul
      %li
        =image_tag 'native.png'
      %li
        =image_tag 'geosnap.png'
      %li.drone
        =image_tag 'drone.png'
      %li.tutor
        =image_tag 'tutorme.png'
    %ul
      %li
        =image_tag 'mdt.png'
      %li.cinch
        =image_tag 'cinch.png'
      %li
        =image_tag 'trackr.png'
      %li.geek
        =image_tag 'geeklist.png'



%section.our-work#show-menu
  %h1
    We build amazing experiences
  %p
    We're a small team of designers and developers that are passionate about building usable and beautiful software. We take absolute pride to carefully build user experiences in mobile and web applications, that make a complete difference in the lives of those that use them.
%section.work
  .work-left
    .left-top
      %a{:href => "trackr.html"}
        .hover-event
          %button
            View project
    .left-bottom
      %a{:href => "vertical-mass.html"}
        .hover-event
          %button
            View project
  .work-right
    .top-right-work
      %a{:href => "wineo.html"}
        .hover-event
          %button
            View project
    .bottom-right-work
      %a{:href => "tutorme.html"}
        .hover-event
          %button
            View project

/ %section.process
/   .inner-wrapper
/     .column.fs1
/       %span.icon-pen
/       %h2
/         Discovery
/       %p
/         Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
/     .column.fs1
/       %span.icon-settings
/       %h2
/         Build
/       %p
/         Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
/     .column.fs1
/       %span.icon-paperplane
/       %h2
/         Launch
/       %p
/         Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
%section.start-project
  %a{:href => "start-project.html"}
    %button
      Let's start a project

%footer
  .footer-container
    %ul
      %li.pad
        %a{:href => "index.html"} Home
      %li.pad
        %a{:href => "index.html#our-work"} Our work
      %li.no-pad
        =image_tag "logo.png"
      %li.pad
        %a{:href => "our-values.html"} Our values
      %li.pad
        %a{:href => "start-project.html"} Hire us
    .copyright
      Copyright - Mossio LLC - All Rights Reserved.


:javascript
  $(window).load(function(){
        $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
      });

:javascript
    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({'overflow':'visible'});
    })


