= partial :menu

%header.banner
  .header-section
    .blurImg
      .new
      .blur
    .wrap
      .logo
      %h1.intro#show-menu
        we
        %span.first .
        make
        %span.second .
        apps
      %h2.sub-intro
        We’re a full service digital agency making remarkable brands, beautiful interfaces and happy clients.
      .scroll-arrow

  %section.our-clients
    %h3
      clients we've helped
    %ul
      %li
        =image_tag 'native.png'
      %li
        =image_tag 'geosnap.png'
      %li.drone
        =image_tag 'drone.png'
      %li.tutor
        =image_tag 'tutorme.png'
      %li
        =image_tag 'mdt.png'
      %li.cinch
        =image_tag 'cinch.png'
      %li
        =image_tag 'trackr.png'
      %li.geek
        =image_tag 'geeklist.png'

%section.our-work#show-menu
  .wrap
    %header.section-header
      %h3
        We build amazing experiences
      %p
        We're a small team of designers and developers. We believe in quality, perfected craftsmenship in every pixel we push. Here's how we keep it real on a daily basis.
    %ul
      %li.branding
        branding
      %li.design-ux
        design / ux
      %li.development
        development
      %li.consulting
        consulting

%section.the-work
  %ul
    %li.tutorme
      %a{:href => "tutorme.html"}
        tutor me
    %li.vm
      %a{:href => "vertical-mass.html"}
        verical mass
    %li.trackr
      %a{:href => "trackr.html"}
        trackr
    %li.wineo
      %a{:href => "wineo.html"}
        wineo

= partial :contact

= partial :footer
