= partial :menu

%header.banner
  .header-section
    .wrap
      .logo
      .banner-copy
        %h1
          We craft experiences
        %h2 We’re a full service digital agency making remarkable brands, beautiful interfaces and happy clients.
    .scroll-arrow#show-menu

%section.our-work
  .wrap
    %header.section-header
      %h3.dark-bg
        what we do
      .divider
      %p.dark-bg
        We're a small team of designers and developers. We believe in quality, perfected craftsmenship in every pixel we push. Here's how we keep it real on a daily basis.
    %ul
      %li.branding
        branding
      %li.design-ux
        design / ux
      %li.development
        development
      %li.consulting
        consulting

= partial :contact

= partial :footer
