#popover-content
  hello
  .close
    close

#top
  this will be the menu
%header
  .header-section.group
    .blurImg
      %div.new{:style => "background-image: url('images/normal-bg.png')"}
      .blur{:style => "background-image: url('images/blurred-bg.png')"}
    .header-wrap
      .logo
        =image_tag 'white-logo.png'
      %nav
        nav here
    .intro#show-menu
      Building
      %span.first .
      Better
      %span.second .
      Experiences

    .divider


    .sub-intro
      We're a creative agency making remarkable brands, beautiful interfaces and happy clients.

    .scroller-ind
      =image_tag 'scroll.png'

%section.our-clients
  %h2
    Here is some of the brands we've helped
  %section.client-area.top
    %ul
      %li.native
        =image_tag 'native-logo.png'
      %li.geosnap
        =image_tag 'geosnap-logo.png'
      %li.drone
        =image_tag 'drone-logo.png'
      %li.trackr
        =image_tag 'tutorme-logo.png'
  %section.client-area
    %ul
      %li.spark
        =image_tag 'mdt-logo.png'
      %li.cinch-loyal
        =image_tag 'cinch-logo.png'
      %li.geek
        =image_tag 'geeklist-logo.png'
      %li.cinch
        =image_tag 'trackr-logo.png'

%section.our-work
  .column
    %h2
      We're a creative agency
    %p
      We believe in quality, perfected craftmenship in every pixel we push. Here’s how we keep it real on a daily basis.
    %button
      See our services
  .service-column.first
    .service-icon
      =image_tag 'branding.png'
    .service-name
      branding
    .service-desc
      The brand is the face of your company, it's the heartbeat of your business and it's your story. Mossio creates powerful brands through an effective process that involves careful attention to detail and organization. Lets grow your brand together, and tell the world your story.
  .service-column
    .service-icon
      =image_tag 'design.png'
    .service-name
      design / ux
    .service-desc
      Design is not only how something looks. It's how it feels, how it works and most importantly how it converts. Mossio has a high level of quality that comes from every pixel on our screens. We handcraft our designs to give interfaces for web and mobile platforms the best possible user experience.
  .service-column
    .service-icon
      =image_tag 'development.png'
    .service-name
      development
    .service-desc
      The code behind each software application that we develop is just as clean and organzied as the design that is laid on top of it. We strive to perfect every line of code in our editors, and involve you in the entire process so that our product is not only up to our standards, but up to yours as well.
  .service-column
    .service-icon
      =image_tag 'consulting.png'
    .service-name
      consulting
    .service-desc
      Consulting is the bloodline of our entire company. We work with your team to make sure what we're delievering to you as a final product is something that will exceed your expectations. We strive to educate your team on the software you're building with us, or the brand your launching to ensure optimal success.
.case-studies
  .slide-one.trackr
    .trackr
      =image_tag 'trackr-device.png'
    .introduction
      the path to finding your things
    %button.popover
      Read case study

/   .work-top
/     %ul
/       %li
/         %a{href: '#'}
/           =image_tag 'movies.png'
/         %span.hover
/       %li
/         =image_tag 'screen.png'
/       %li
/         =image_tag 'mdt-shot.png'
/   .work-bottom
/     %ul
/       %li
/         =image_tag 'cigar.png'
/       %li
/         =image_tag 'tips-app.png'
/       %li
/         =image_tag 'planner-app.png'

/ %section.what-we-do
/   .inner-wrapper
/     %h1
/       Turning ideas into products
/     %p
/       Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
/     .toggle
/       %ul
/         %li
/           %a.active{href: '#'} Web
/         %li
/           %a{href: '#'} Mobile

/     .twentytwenty-container
/       %img{:src => "images/wire.png"}
/       %img{:src => "images/finished.png"}

/ %section.process
/   .inner-wrapper
/     .column.fs1
/       %span.icon-pen
/       %h2
/         Discovery
/       %p
/         Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
/     .column.fs1
/       %span.icon-settings
/       %h2
/         Build
/       %p
/         Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
/     .column.fs1
/       %span.icon-paperplane
/       %h2
/         Launch
/       %p
/         Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.

/ %section.contact
/   .inner-wrapper
/     %h1
/       Lets build something together
/     %p
/       The most successful projects begin with information. The below form will give us more insight to your projects needs and goals. It's pretty straightforward in its fields, and we're certain you won't get lost in filling it out.

/     %form{:action => ""}
/       .service-select
/         %ul
/           %li.amPmCheckbox
/             %input#mobile.checkboxLabel.main_street_input{:name => "data[Child][remember_me]", :type => "checkbox", :value => "Mobile Application"}/
/             %label{:for => "mobile"} MOBILE APP
/           %li.web-app-check
/             %input#web.checkboxLabel.main_street_input{:name => "data[Child][remember_me]", :type => "checkbox", :value => "Web Application"}/
/             %label{:for => "web"} WEB APP

/       .form-bottom
/         .form-left
/           .form-item
/             %label{:for => ""} full name
/             %input{:type => "text"}/

/             .form-item
/             %label{:for => ""} email address
/             %input{:type => "text"}/

/             .form-item
/             %label{:for => ""} telephone number
/             %input{:type => "text"}/

/         .form-right
/           .form-item
/             %label{:for => ""} project budget
/             .styled-select
/               %select
/                 %option{:value => ""} Select a budget
/                 %option{:value => "25K - 50K"} $25,000 to $50,000
/                 %option{:value => "50K - 75K"} $50,000 to $75,000
/                 %option{:value => "75K +"} $75,000 +

/           .form-item
/             %label{:for => ""} ideal timeline
/             .styled-select
/               %select
/                 %option{:value => "4 to 8 weeks"} 4 to 8 weeks
/                 %option{:value => "8 to 12 weeks"} 8 to 12 weeks
/                 %option{:value => "12 weeks +"} 12 weeks +

/           .form-item
/             %label{:for => ""} do you like back to the future?
/             %input{:type => "text"}/


/       .form-item.details
/         %label{:for => ""} tell us about your project
/         %input{:type => "text-area"}/

/       .button
/         %input.submit-button{:type => "submit", :value => "talk to us"}

/ %footer.footer
/   .footer-container
/     .address
/       %ul
/         %li Built in beautiful Orange County California
/         %li
/           %a{href:'mailto:hello@mossiolab.com'} hello@mossiolab.com
/     .copyright
/       2014 - Mossio Lab LLC - All Rights Reserved


:javascript
  $(window).load(function(){
        $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
      });

