%header
  .header-section
    .logo-area
      =image_tag 'logo.png'
    %nav
      %ul
        %li
          %a{href: '#'} home
        %li
          %a{href: '#'} our work
        %li
          %a{href: '#'} what we do
        %li
          %a{href: '#'} lets get started

.main-hero
  .lab-intro
    We build better web &amp mobile apps

%section.our-work
  %h1
    We build amazing experiences
  %p
    We're a small team of designers and developers that are passionate about building usable and beautiful software. We take absolute pride to carefully build user experiences in mobile and web applications, that make a complete difference in the lives of those that use them.

  .work-top
    %ul
      %li here
      %li here
      %li here
  .work-bottom
    %ul
      %li here
      %li here
      %li here

  %h1
    Select clients
%section.client-area.top
  %ul
    %li client here
    %li client here
    %li client here
    %li client here
%section.client-area.top
  %ul
    %li client here
    %li client here
    %li client here
    %li client here

%section.what-we-do
  .inner-wrapper
    %h1
      Turning ideas into products
    %p
      Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
    .toggle
      %ul
        %li
          %a.active{href: '#'} Web
        %li
          %a{href: '#'} Mobile

    .twentytwenty-container
      %img{:src => "images/wire.png"}
      %img{:src => "images/finished.png"}

%section.process
  .inner-wrapper
    .column
      %h2.discover
        Discovery
      %p
        Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
    .column
      %h2.build
        Build
      %p
        Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
    .column
      %h2.launch
        Launch
      %p
        Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.

%section.contact
  .inner-wrapper
    %h1
      Lets build something together
    %p
      The most successful projects begin with information. The below form will give us more insight to your projects needs and goals. It's pretty straightforward in its fields, and we're certain you won't get lost in filling it out.

    %form
      .service-select
        %ul
          %li.amPmCheckbox
            %input#mobile.checkboxLabel.main_street_input{:name => "data[Child][remember_me]", :type => "checkbox", :value => "Mobile Application"}/
            %label{:for => "mobile"} MOBILE APP
          %li.web-app-check
            %input#web.checkboxLabel.main_street_input{:name => "data[Child][remember_me]", :type => "checkbox", :value => "Web Application"}/
            %label{:for => "web"} WEB APP

      .form-bottom
        .form-left
          .form-item
            %label{:for => ""} full name
            %input{:type => "text"}/

            .form-item
            %label{:for => ""} email address
            %input{:type => "text"}/

            .form-item
            %label{:for => ""} telephone number
            %input{:type => "text"}/

        .form-right
          .form-item
            %label{:for => ""} project budget
            .styled-select
              %select
                %option{:value => "volvo"} Select a budget
                %option{:value => "saab"} $10,000 to $25,000
                %option{:value => "opel"} $25,000 to $50,000
                %option{:value => "audi"} $50,000 +

          .form-item
            %label{:for => ""} ideal timeline
            / %select
            /   %option{:value => "volvo"} Select a timeframe
            /   %option{:value => "saab"} 6 to 8 weeks
            /   %option{:value => "opel"} 8 to 12 weeks
            /   %option{:value => "audi"} 12 weeks +

          .form-item
            %label{:for => ""} do you like back to the future?
            %input{:type => "text"}/


:javascript
  $(window).load(function(){
        $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
      });

