%header
  .header-section
    .logo-area
      =image_tag 'logo.png'
    %nav
      %ul
        %li
          %a{href: '#'} home
        %li
          %a{href: '#'} our work
        %li
          %a{href: '#'} what we do
        %li
          %a{href: '#'} lets get started

.main-hero
  .lab-intro
    We build better web &amp mobile apps

%section.our-work
  %h1
    We build amazing experiences
  %p
    We're a small team of designers and developers that are passionate about building usable and beautiful software. We take absolute pride to carefully build user experiences in mobile and web applications, that make a complete difference in the lives of those that use them.

  .work-top
    %ul
      %li here
      %li here
      %li here
  .work-bottom
    %ul
      %li here
      %li here
      %li here

  %h1
    Select clients
%section.client-area.top
  %ul
    %li client here
    %li client here
    %li client here
    %li client here
%section.client-area.top
  %ul
    %li client here
    %li client here
    %li client here
    %li client here

%section.what-we-do
  .inner-wrapper
    %h1
      Turning ideas into products
    %p
      Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
