%header
  .header-section
    .logo-area
      =image_tag 'logo.png'
    .mobile-menu
      #mobilemenu
        mobile-menu

    .desktop-menu
      %nav
        %ul
          %li
            %a{href: '#'} home
          %li
            %a{href: '#'} our work
          %li
            %a{href: '#'} what we do
          %li
            %a{href: '#'} lets get started

.main-hero
  .lab-intro
    We build better web &amp mobile apps

%section.our-work
  %h1
    We build amazing experiences
  %p
    We're a small team of designers and developers that are passionate about building usable and beautiful software. We take absolute pride to carefully build user experiences in mobile and web applications, that make a complete difference in the lives of those that use them.

  .work-top
    %ul
      %li
        %a{href: '#'}
          =image_tag 'movies.png'
        %span.hover
      %li
        =image_tag 'screen.png'
      %li
        =image_tag 'mdt-shot.png'
  .work-bottom
    %ul
      %li
        =image_tag 'cigar.png'
      %li
        =image_tag 'tips-app.png'
      %li
        =image_tag 'planner-app.png'

  %h1
    Select clients
%section.client-area.top
  %ul
    %li.mod
      =image_tag 'mdt.png'
    %li.geek
      =image_tag 'geeklist.png'
    %li.drone
      =image_tag 'drone.png'
    %li.trackr
      =image_tag 'trackr.png'
%section.client-area
  %ul
    %li.spark
      =image_tag 'sm-logo.png'
    %li.native
      =image_tag 'native.png'
    %li.geosnap
      =image_tag 'geosnap.png'
    %li.cinch
      =image_tag 'cinch.png'

%section.what-we-do
  .inner-wrapper
    %h1
      Turning ideas into products
    %p
      Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
    .toggle
      %ul
        %li
          %a.active{href: '#'} Web
        %li
          %a{href: '#'} Mobile

    .twentytwenty-container
      %img{:src => "images/wire.png"}
      %img{:src => "images/finished.png"}

%section.process
  .inner-wrapper
    .column.fs1
      %span.icon-pen
      %h2
        Discovery
      %p
        Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
    .column.fs1
      %span.icon-settings
      %h2
        Build
      %p
        Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.
    .column.fs1
      %span.icon-paperplane
      %h2
        Launch
      %p
        Here at Mossio we work in small collaborative teams to ensure your project has the best possible user experience from start to finish. First we discover, then we build.

%section.contact
  .inner-wrapper
    %h1
      Lets build something together
    %p
      The most successful projects begin with information. The below form will give us more insight to your projects needs and goals. It's pretty straightforward in its fields, and we're certain you won't get lost in filling it out.

    %form{:action => ""}
      .service-select
        %ul
          %li.amPmCheckbox
            %input#mobile.checkboxLabel.main_street_input{:name => "data[Child][remember_me]", :type => "checkbox", :value => "Mobile Application"}/
            %label{:for => "mobile"} MOBILE APP
          %li.web-app-check
            %input#web.checkboxLabel.main_street_input{:name => "data[Child][remember_me]", :type => "checkbox", :value => "Web Application"}/
            %label{:for => "web"} WEB APP

      .form-bottom
        .form-left
          .form-item
            %label{:for => ""} full name
            %input{:type => "text"}/

            .form-item
            %label{:for => ""} email address
            %input{:type => "text"}/

            .form-item
            %label{:for => ""} telephone number
            %input{:type => "text"}/

        .form-right
          .form-item
            %label{:for => ""} project budget
            .styled-select
              %select
                %option{:value => ""} Select a budget
                %option{:value => "25K - 50K"} $25,000 to $50,000
                %option{:value => "50K - 75K"} $50,000 to $75,000
                %option{:value => "75K +"} $75,000 +

          .form-item
            %label{:for => ""} ideal timeline
            .styled-select
              %select
                %option{:value => "4 to 8 weeks"} 4 to 8 weeks
                %option{:value => "8 to 12 weeks"} 8 to 12 weeks
                %option{:value => "12 weeks +"} 12 weeks +

          .form-item
            %label{:for => ""} do you like back to the future?
            %input{:type => "text"}/


      .form-item.details
        %label{:for => ""} tell us about your project
        %input{:type => "text-area"}/

      .button
        %input.submit-button{:type => "submit", :value => "talk to us"}

%footer.footer
  .footer-container
    .address
      %ul
        %li 11276 West Hollywood Blvd, Los Angeles California 90371
        %li
          =link_to 'mailto:hello@mossiolab.com'
    .copyright
      2014 - Mossio Lab LLC - All Rights Reserved


:javascript
  $(window).load(function(){
        $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
      });

