%header
  .header-section
    .logo-area
      =image_tag 'logo.png'
    %nav
      %ul
        %li
          %a{href: '#'} home
        %li
          %a{href: '#'} our work
        %li
          %a{href: '#'} what we do
        %li
          %a{href: '#'} lets get started
