%header.logo
  =image_tag 'temp-logo.png'
.site-intro
  We're a full service creative agency making remarkable brands, beautiful interfaces and happy clients.
.our-site
  We're working really hard to get our new experience up!
