.smlogo
  =image_tag 'smlogo.png'
.introlab
  we're a creative agency

:javascript
  $(window).load(function(){
        $(".twentytwenty-container").twentytwenty({default_offset_pct: 0.5});
      });

