= partial :menu

.case-study-wrap
  %section.trackr-header
    .wrap
      %h2.case-study-title#show-menu
        The beautiful way to find your things.

  %section.the-intro
    .wrap
      .the-problem
        %h2
          The problem
        .divider
        %p
          TrackR was in the midst of launching of the the tiniest tracking devices for your personal belongings. Unfortunately they didn’t have a user center way for users to do so. Mossio was tasked with redefining the TrackR brand, creating a beautiful easy to use mobile application and refresh the website.
      .the-solution
        %h2
          The solution
        .divider
        %p
          Mossio created a more approachable, effective brand. This was done carefully by executing current implemented branding models while focusing on a more clean, elegant look and combining the two. This ultimately led to more flexibility in creating a mobile experience that would connect with TrackR customers.

  %section.mobile-experience
    .wrap
      %header.section-header
        %h2
          The Brand
        %p
          TrackR’s brand spans the world with over 70 million users worldwide. Creating a powerful logo mark was the tip of the iceburg. We helped better define the brand identity and come up with something that was much more approachable.
        .trackr-logo

  %section.web-experience
    .wrap
      %header.section-header
        %h2
          web experience
        %p
          TrackR has a great product that works amazingly well. Unfortunately their website didn’t truly reflect the level of quality from their product. We quickly wanted to turn the tables and gave their marketing website a facelift.

    .browser
      .browser-bar
        =image_tag 'browser-bar.png'
      .browser-content
        =image_tag 'trackr-site.png'

  %section.mobile-experience
    .wrap
      %header.section-header
        %h2
          mobile experience
        %p
          The mobile application is the bloodline of the TrackR. The application needed to have a very precise user experience that allowed for multiple use cases. Mossio built a highly scalable mobile experience that was geared toward exceptional ease of use with a high regard for visual astetic.
      .mobile-shots
        =image_tag 'trackr-mobile-exp.png'

  %section.study-pagination
    .tutorme
      %a{:href => "tutorme.html"}
        tutor me
    .vm
      %a{:href => "vertical-mass.html"}
        verical mass

= partial :contact

= partial :footer
