= partial :menu

%section.wineo-header#show-men
  %h2
    Wine reviews
    %br
    with so much flavor.

%section.the-intro
  .the-problem
    %h2
      The problem
    .divider
    %p
      Wineo is a OCR (optimal character reconition) app for wine drinkers. The app allows users to take images of wine menus to get reviews of the wines listed. Wineo inlisted the help of Mossio to create their app from the ground up while focusing on delicately crafting the UX and adding a visual UI top coat of paint.
  .the-solution
    %h2
      The solution
    .divider
    %p
      A new application with an user-centered interface, extremely well executed visual astetic, and functionality that make the app a pleasure to use, ensured that Wineo’s new brand was immediately reconizied as a passionate mobile application that was serious about wine.
.product
  =image_tag 'wineo-product.png'

%section.mobile-experience
  %h2
    The experience
  %p
    Being a brand spanking new product on the marketing, establishing an amazing user experience was essential. Mossio created an experience that tapped into the passion of the industry and really pulled together a UX and UI that connected with the audience of the app.
  .icons
    =image_tag 'wineo-icons.png'

%section.wineo-app
  .app-top
    %h2
      Ground work
    %p
      The Wineo app set out to be the diamond in the rough, allowing the user to point their iPhone camera at a wine menu and get results back from that wine list that were not only beautiful, they were exceptionally accurate.
  .app-top
    %h2
      Style execution
    %p
      With literally hundreds of wine apps out there, being original was a key element in differentiating Wineo from the crowd. Careful planning went into the User Experience side of things along with a gorgeous coat of paint.

:javascript
    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({'overflow':'visible'});
    })
