.web-container
  .logo
    %a{:href => "index.html"}
  .web-nav
    %ul
      %li
        %a{:href => "work.html"}
          Our Work
      %li
        %a{:href => "discover.html"}
          Discover Us
      %li
        %a{:href => "#"}
          Thoughts
      %li
        %a{:href => "careers.html"}
          Careers
      %li
        %a.popover{:href => "contact.html"}
          Contact
%section.the-work
  %ul
    %li.tutorme
      %a{:href => "tutorme.html"}
        tutor me
    %li.vm
      %a{:href => "vertical-mass.html"}
        verical mass
    %li.trackr
      %a{:href => "trackr.html"}
        trackr
    %li.wineo
      %a{:href => "wineo.html"}
        wineo

= partial :contact

= partial :footer
